:root {
  --color-non-dominant: #f9363f;  
}

body {margin:0;}
 
.flex-wrapper {
   display:flex;
   flex-direction: column;
}

.body-background-theme {
 background-image: url(/static/styles/utils/powerful-retro-bc.png);
}

.box-vp {
   height: 100vh;
   width: 100vw; 
}

.box1{
 background-image: url(/static/img/misc/powerful_retro_by_patreon.comSlashWaneella.gif);
 background-repeat: no-repeat;
 background-size: 100% 100%; 
 /* background-color: #252739; */
 height: fit-content !important;
 border-width: 0 0 1px 0; 
 padding-bottom: 3em;
}

.box2{
    background-color: #252739;
    border: solid white;
    border-width: 1px 0 1px 0;
}

.global__background-color {
  background-color: #252739;
}

@media only screen and (max-width: 500px) {
.box2 {
   flex-direction: column;
}

.hot-section {
   width: 100% !important;
   margin-top: 2em;
}

.site-title {
   font-size: 2em !important;
}

.box1 {
   background-size: cover !important;
}

.box1-wrapper {
   margin: auto !important;
}
}

.box3{
   display: flex;
   flex-direction: column;
   background-image: url(/*smth.jpg*/);
   background-size: 100% 100%;
}

.hottest-threads {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
}

.site-title {
   font-size: 15px; 
   text-shadow: 2px 2px 5px black;
}

.lara {
   color: var(--color-non-dominant);
   font-size: 1.3em;
   text-decoration: none;
}

.global-navbar__intro {
  color: #b34c4c;
  font-weight: bold;
  
  text-align: center;
  
  width: max-content;
  height: max-content;
}

.boards {
  font-weight: bold;
  text-shadow: 2px 2px black;
  margin: 0 auto;
  width: max-content;
  color: white;
}

.index-thread-ul {
  width: max-content;
  height: 15em;
  margin: 0 auto 0 auto;
  padding: 0.7em 6em 1em 6em;
  background-color: #01020e;
  overflow-y: scroll;
  color: white;
/*  column-gap: 10em;
  column-count: 2;
  column-rule-style: solid; */
}

.index__thread-li { /* this was called li for some reason */
  margin: 0 auto;
  width: max-content;
}

.box1 {
  display:flex;
  flex-direction: column;
}

.box1-wrapper {
  margin: 0 auto 0 auto;
}

.board-separator {
  width: 30vw;
  border-color: white;
  margin-top: 2em;
  margin-bottom: 2em;
}

.hot-section {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 0;
  height: inherit;
}

.featured-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: solid 2px white;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  background-color: white;
}

.featured-image-section {
  width: 50%;
  padding: auto;
  height: inherit;
}

.featured-image-text {
  width: max-content;
  margin: 10% auto 1em auto;
  font-weight: bold;
  color: white;
}

.box2-wrapper {
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
}

.news-table {
  border: 1px solid var(--color-non-dominant);
  border-collapse: collapse;
}

.index-news-section {
  flex-grow: 1;
}

.index-news-section__wrapper {
  margin: 10% auto 0 auto;
  width: max-content;
}

.index-news-section__intro {
  width: max-content;
  margin: 0 auto 0.5em auto;
  font-weight: bold;
  color: white;
}

/* .deadclass {
  border: solid 1px;
} */

.news-title {
  background-color: var(--color-non-dominant);
  color: white;
  font-weight: bold;
  padding: 0 0.5em 0 0.5em
}

.news-date {
  font-weight: bold;
  padding: 0 0.5em 0 0.5em;
  color: grey;
}

.hottest-threads-text {
  width: max-content;
  /* margin: 0 auto; */
  font-weight: bold;
  margin-top: 5em;
}

.hot-threads-table {
  border: solid 1px black;
  background-color: white;
  border-collapse: collapse;
  width: max-content;
  padding: 0 1em 0 1em;
}

.hot-thread-index {
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.box1-wrapper {
  margin: 0 auto;
}

.random-quote {
  margin: 2em 2em 0 auto;
  color: white;
  width: 40%;
}

.mascot {
  position:fixed;
  /* content: url(sum cute gif)  */
}

.index-boardlist {
 list-style-type: none;
 width: 80%;
 margin: 0 auto;
 padding: 0;
}

.index-board-hyperlink {
  width: fit-content;
  color: grey;
  background-color: #01020e;
  padding: 0.2em;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  display: inline-block;
  margin: 0.2em 0.3em;
  text-decoration: none;
  border: 1px white solid;
}

.index-board-hyperlink:hover {
  color: white;
  background-color: var(--color-non-dominant);
}

.index-boards {
  border: 1px solid white;
  padding: 0.1em 0.5em;
  background-color: var(--color-non-dominant);
  font-weight: bold;
}

/* .index-board-hyperlink:nth-child(odd) {
  background-color: var(--color-non-dominant);
  color: white;
} */

.index-board-hyperlink:nth-child(1) {
  margin: 0 !important;
}

.box3-item {
  /* background-color: rgb(80, 33, 72); */
  border-radius: 5px;
  height: max-content;
  width: 20em;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.hottest-threads-wrapper {
  margin: 0 auto;
}

.thread-props {
  height: 1em;
  margin-right: 0.2em;
}

.thread-props:last-child {
  margin-right: 0;
}

.box3-title {
  color: white;
  font-weight: bold;
  width: max-content;
  margin: 0 auto 0.5em auto;
}

.box3-description {
  color: rgb(158, 158, 158);
  font-weight: bold;
  width: max-content;
  margin: 0 auto;
  text-decoration: overline;
  text-decoration-color: white;
  max-width: inherit;
}

.box-wrapper {
  margin: auto;
} 

.index-youtube {
  width: max-content;
  margin: 5em auto;
}

.links-section {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.user-auth-containter {
  display: flex; 
  flex-direction:row;
  height: fit-content;
  color: white;
}

.user-auth-containter:nth-child(2) {
  margin-top: 0.5em;
}


.user-auth-label {
  border-width: 1px 0 1px 1px;
  border-color: black;
  border-style:solid;
  background-color: var(--color-non-dominant);
  padding: 0.2em 0.3em;
  border-radius: 5px 0 0 5px;
}

.user-auth-input {
  border: 1px black solid;
  background-color: grey;
  color: white;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  width: 100%;
  padding-left: 0.5em;
}

.board-header {
  width: 50%;
  margin: 2em auto 0 auto;
  background-color: #2f2934;
  border: solid 1px black;
  border-radius: 5px;
  padding: 0.5em;
  color: white;
}

.board-name {
  margin-bottom: 1em;
}

.board-name b {
  color: var(--color-non-dominant);
  text-shadow: 2px 2px 2px black;
}

.board-description {
  overflow-wrap: break-word;
}

.text-align-center{
  text-align: center;
}

.index-booru__table {
  width: 50vw;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 0;
  margin: 2em auto 0 auto;
  border-spacing: 0;
}

.index-booru-table__header {
  background-color: var(--color-non-dominant);  
}

.index-booru-table__body {
  background-color: #01020e;
  height: 10em;

  display: flex;
  flex-direction: row;  
}

.index-booru-table__img {
  margin: auto;
}

/* .useful-pages{

} */

.global-navbar {
  border-collapse: collapse;
  background-color: #262525;
  border-width: 0 0 1px 0;
  border-color: #595959;
  border-style: solid;
}

.global-navbar__td {
/*  border: 1px solid grey; */
  height: fit-content;
  padding: 0;
}

.global-navbar__sitename {
  width: 20%;
}

.index-boards {
  width: fit-content;
  margin: 1em auto 1em auto;
  color: white; 
}

.index-thread-intro {
  width: 100%;
  margin: 0 auto;
  color: white;
  background-color: var(--color-non-dominant);
  font-weight: bold;
  text-align: center;
  border-radius: 5px 5px 0 0; /* todo, fix this workaround */
}

.global-user-ops {
  height: 100%;
  font-weight: bold;
  border-width: 0 1px 0 1px; 
  color: white;
  padding: 0.3em;
}

.user-ops-link {
  margin-right: 1em;
}

.global-user-ops__wrapper a {
  color: var(--color-non-dominant);
  text-decoration: none;
}

.global-user-ops__wrapper {
  width: fit-content;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.global-banner {
  margin: 2em auto 0 auto;
}

.the-footer {
  color: white;
  margin-top: auto; 
  text-align: center;
  font-size: 13px;
  padding: 20px 0px 20px 0px;
  border-style: solid none none none;
  border-width: 1px;
  border-color: grey;
  background-color: #2b2431;
}

.global-footer-link {
  background-color: var(--color-non-dominant);
  border-radius: 5px;
  text-decoration-line: none;
  color: white;
  padding: 0.2em;
  font-weight: bold;
}

.global-footer-link:hover {
 color: black;
}

.noscript-footer {
  margin: 1em 0 0 0;
}

.hot-threads-wrapper {
  width: fit-content;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 5px 5px 0 0;
}

.create-board__container {
  margin: 2em auto 2em auto;
  width: fit-content;  
}

.create-board__intro {
  width: auto;
  border-width: 1px 1px 1px 1px;
  border-color: black;
  border-style: solid;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 2px 0;
}

.create-board__form-element {
  border-width: 0 1px 1px 1px;
  border-color: black;
  border-style: solid;
  padding: 0.5em;
}

.width-fit-content {
  width: fit-content;
}

.body__keep-footer-bottoom {
  min-height: 100vh;
}

.global__container_color-intro {
  background-color: var(--color-non-dominant);
}

.create-boards__submit-btn {
  background-color:  var(--color-non-dominant); 
  border: 1px black solid; 
  color: white;
  font-weight: bold;
  padding: 4px 6px;
  margin: 1em auto 0.3em auto;
  display: block;
  cursor: pointer;
}

.create-board__explanation-box {
  border: 1px solid black;
  width: 70%;
  margin: 0 auto;
  padding: 1em;
}

.body-flexbox-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.global__info-symbol {
  color: var(--color-non-dominant);
}

.global__info-symbol--black {
  color: #000
}

.global-util__container-body-general {
  background-color: #2b2431;
  color: white;
}

.board-managament__index-container {
  width: fit-content;
  margin: 4em auto 0 auto;
  max-width: 60%;
  box-shadow: 5px 5px 5px black;
}

.board-managament__index-container__body {
  padding: 1em;
  margin: 0 auto;
  width: auto;
  list-style: none;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.board-managament__index-container__intro {
  background-color: var(--color-non-dominant);
  border-width: 1px 1px 0 1px;
  border-color:black;
  border-style: solid;
  width: auto;
  padding: 0 1em;
  color: white;
  font-weight: bold;
  text-align: center;
}

.board-management__li {
  margin: 0 auto;
  width: fit-content;
  font-weight: bold;
}

.board-management__a:hover {
  color: var(--color-non-dominant);
}

.board-management__a {
  color: white;
  text-decoration: none;
}

.error-page__img {
  display: block;
  margin: 0 auto 1em auto;
  max-width: 80%;
}

.thread-container {
  display: flex;
  background-color: #6c5f60;
  width: auto;
  /* border: 1px solid black; */
  border-radius: 5px;
  margin: 0 0 1em 2em;
  padding: 0 0.5em 0 1em;
}

.thread-container:last-child {
  margin: 0 0 0 2em;
}

.thread-index-container{
  width: 80%;
  margin: 2em auto;
}

.index-container-basic {
  background-color: #2f2934;
  border: solid white 1px;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 1em 1em 30px black;
}

.thread-props-container {
  display:flex;
}

.thread-hiperlink {
  color: wheat;
  margin-right: auto;
  font-weight: bold;
  text-decoration: none;
}

.thread-date {
  margin-right: 0.5em;
  color: white;
}

.no-threads-warning {
  margin: 0 auto;
  color: #b9b9b9;
  font-weight: bold;
  width: fit-content;
}

.thread-list-hr {
  color: white;
  width: 60%;
  margin-bottom: 2em;
}

.thread-list-intro {
  margin: 0 auto;
  width: fit-content;
  color: white;
  font-weight: bold;
}

.post-button {
  margin-left: auto;
  background-color: var(--color-non-dominant);
  border: solid 1px black;
  color: white;
  font-weight: bold;
}

.thread-submit-form {
  width: fit-content;
  margin: 0 auto;
}

.form-body {
  width: 100%;
}

.table-top {
  display:flex;
}

.thread-post-form-wrapper {
  border: solid white 1px;
  width: fit-content;
  margin: 2em auto 0 auto;
  padding: 1em;
}

.thread-form-intro {
  color: white;
  font-weight: bold;
  text-align: center;
}

.last-board-a {
  color: white;
  background-color: var(--color-non-dominant);
}

.global-user-ops-item {
  margin: 0.3em 0.5em 0.3em 0 !important;
  padding: 0;
}

.global-user-ops-logout {
  cursor: pointer;
}

.global-user-ops__wrapper {
  margin-left: auto;
  width: fit-content;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.global-user-ops-logout{
  background-color: transparent;
  border: none;
  font-size: 1em;
  padding: 0;
  color: var(--color-non-dominant);
}

.generic-table-one {
  table-layout:fixed;
  border-collapse: collapse;
}

.generic-table-one__tr > td {
  text-align: center;
  border: 1px white solid;
  padding: 0.5em;
}

.generic-table-one__tr > th {
  border: 1px white solid;
  background-color: grey;
  color: white;
}

.boardlist-tr:nth-child(2n) {
  background-color: #3c3c3c;
}

.boardlist-tr{
  background-color: #282828;
}

.boardlist-container {
  max-width: 90%;
}

.boardlist-container .global-util__container-body-general {
  padding: 0;
}

.default-hyperlink {
  text-decoration: none;
  color: var(--color-non-dominant) !important;
  font-weight: bold;
}

.wordbreak-breakall {
  word-break: break-all;
}

.boardlist-description {
  text-align: left !important;
  width: 20em;
  word-break: break-all;
}

.boardlist-name {
  width: 10em;
}

.boardlist__ul {
  list-style: none;
  display: inline;
  margin: 0 0 0 0.5em;
  padding-left: 0;
}

.boardlist__li {
  display: inline;
}

.global-util__bold-link {
  color: white;
  font-weight: bold;
}

.centerdiv {
  width: fit-content;
  margin: 0 auto;
}

.global-util__info-box {
  color: white;
  border: 1px solid black;
  width: fit-content;
  margin: 2em auto 0 auto;
  background-color: #2b2431;
  font-weight: bold;
}

.boardlist__pages {
  display: flex;
  flex-direction: row;
  margin: 1em 0 1em 1em;
}

.board-index__stats {
  padding: 0.5em 1em;
  margin-bottom: 2em;
}

.extra-horizontal-padding-table {
  padding: 0 0.3em;
}

.strikethrough {
  text-decoration: line-through;
}

.hover-info {
  cursor: help
}

.thread-hiperlink :visited{
  color: var(--color-non-dominant)
}