body {margin:0;}
 
.flex-wrapper {
   display:flex;
   flex-direction: column;
}

.box-vp {
   height: 100vh;
   width: 100vw; 
}

.box1{
 /* background-image: url(smth.jpeg);
 background-repeat: no-repeat;
 background-size: 100% 100%; */
 background-color: #04061e;
 height: fit-content !important;
 border-width: 0 0 1px 0; 
}

.box2{
    background-color: #fde9e9;
}

@media only screen and (max-width: 500px) {
.box2 {
   flex-direction: column;
}

.hot-section {
   width: 100% !important;
   margin-top: 2em;
}

.site-title {
   font-size: 2em !important;
}

.box1 {
   background-size: cover !important;
}

.box1-wrapper {
   margin: auto !important;
}
}

.box3{
   display: flex;
   flex-direction: column;
   background-image: url(/*smth.jpg*/);
   background-size: 100% 100%;
}

.hottest-threads {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
}

.site-title {
   font-size: 15px; 
   text-shadow: 2px 2px 5px black;
}

.lara {
   color: #f9363f;
}

.chan {
   color: #ffa9ae;
}

.wrapper-intro {
   color: white;
   font-weight: bold;
   text-align: center;
   width: max-content;
   height: max-content;
}

.boards {
   font-weight: bold;
   text-shadow: 2px 2px black;
   margin: 0 auto;
   width: max-content;
   color: white;
}

.thread-lister {
   width: max-content;
   height: 15em;
   margin: 1em auto 0 auto;
   padding: 0.7em 6em 1em 6em;
   background-color: #01020e;
   overflow-y: scroll;
   color: white;
   border: solid 1px;
   
/*   column-gap: 10em;
   column-count: 2;
   column-rule-style: solid; */
}

li {
   margin: 0 auto;
   width: max-content;
}

.box1 {
   display:flex;
   flex-direction: column;
}

.box1-wrapper {
   margin: 0 auto 0 auto;
}

.board-separator {
   width: 30vw;
   border-color: white;
   margin-top: 2em;
   margin-bottom: 2em;
}

.hot-section {
   display: flex;
   flex-grow: 2;
   flex-direction: column;
   margin: 0;
   height: inherit;
}

.featured-img {
   max-width: 100%;
   max-height: 30em;
   display: block;
   border: solid 2px rgb(151, 36, 36);
   margin: 0 auto;
   height: 80%;
}

.featured-image-section {
   width: max-content;
   padding: auto;
   flex-grow: 2;
   height: inherit;
}

.featured-image-text {
   width: max-content;
   margin: 0 auto 1em auto;
   font-weight: bold;
}

.box2-wrapper {
   background-size: 100% 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   height: inherit;
}

.news-table {
   border: 1px solid #c02b2b;
   border-collapse: collapse;
}

.news-section {
   flex-grow: 1;
}

.news-wrapper {
   margin: 0 auto;
   width: max-content;
}

.news-intro {
   width: max-content;
   /* margin: 0 auto 1em auto; */
   font-weight: bold;
}

/* .table-body-index {
   border: solid 1px;
} */

.news-title {
   background-color: rgb(255, 134, 161);
   color: white;
   font-weight: bold;
   padding: 0 0.5em 0 0.5em
}

.news-date {
   font-weight: bold;
   padding: 0 0.5em 0 0.5em;
   color: grey;
}

.hottest-threads-text {
   width: max-content;
   /* margin: 0 auto; */
   font-weight: bold;
   margin-top: 5em;
}

.hot-threads-table {
   border: solid 1px black;
   background-color: white;
   border-collapse: collapse;
   width: max-content;
   padding: 0 1em 0 1em;
}

.hot-thread-index {
   padding: 0.2em 0.5em 0.2em 0.5em;
}

.box1-wrapper {
   margin: 0 auto;
}

.random-quote {
   margin: 2em auto 1em auto;
   color: white;
}

.mascot {
   position:fixed;
   /* content:  url(sum cute gif) */
}

.board-list {
 list-style-type: none;
 width: max-content;
 margin: 0 auto;
 padding: 0;
}

.board-hyperlink-index {
   width: fit-content;
   border: 1px solid white;
   color: white;
   background-color: #01020e;
   display: inline;
   margin-left: 1em;
   padding: 0.2em;
   font-weight: bold;
   font-size: 15px;
}

.board-hyperlink-index:nth-child(odd) {
   color: red;
}

.board-hyperlink-index:nth-child(1) {
   margin: 0 !important;
}

.box3-item {
   border-radius: 5px;
   height: max-content;
   width: 20em;
   margin: auto;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
}

.hottest-threads-wrapper {
   margin: 0 auto;
}

.box3-title {
   color: white;
   font-weight: bold;
   width: max-content;
   margin: 0 auto 0.5em auto;
}

.box3-description {
   color: rgb(158, 158, 158);
   font-weight: bold;
   width: max-content;
   margin: 0 auto;
   text-decoration: overline;
   text-decoration-color: white;
   max-width: inherit;
}

.box-wrapper {
   margin: auto;
} 

.youtube-section {
   width: max-content;
   margin: 5em auto;
}

.links-section {
   display: flex;
   flex-direction: row;
   height: 100%;
}

.booru-index {
   width: 50vw;
   border: 1px solid white;
   border-radius: 5px;
   color: white;
   padding: 0;
   margin: 2em auto 0 auto;
}

.booru-index-header {
   
}

.booru-index-body {
   background-color: grey;
   height: 10em;

   display: flex;
   flex-direction: row;   
}

.booru-index-img {
   margin: auto;
}

.useful-pages{

}

.title-and-page-wrapper {
   border-collapse: collapse;
}

.navbar-table-td {
   border: 1px solid grey;
   height: fit-content;
   padding: 0;
}

.sitename {
   width: 20%;
}

.index-boards {
   width: fit-content;
   margin: 1em auto 1em auto;
   color: white; 
}

.index-threads {
   width: fit-content;
   margin: 0 auto;
   color: white; 
}

.user-ops {
   height: 100%;
   font-weight: bold;
   border: solid grey;
   border-width: 0 1px 0 1px; 
   color: white;
   padding: 0.3em;
}

.user-ops-wrapper {
   width: fit-content;
   margin-left: auto;
   display: flex;
   flex-direction: row;
}

.global-banner {
   margin: 2em auto 0 auto;
}