body {margin:0;}
 
.flex-wrapper {
   display:flex;
   flex-direction: column;
}

.box-vp {
   height: 100vh;
   width: 100vw; 
}

.box1{
 background-image: url(/static/img/misc/powerful_retro_by_patreon.comSlashWaneella.gif);
 background-repeat: no-repeat;
 background-size: 100% 100%; 
 /* background-color: #252739; */
 height: fit-content !important;
 border-width: 0 0 1px 0; 
 padding-bottom: 3em;
}

.box2{
    background-color: #252739;
    border: solid white;
    border-width: 1px 0 1px 0;
}

@media only screen and (max-width: 500px) {
.box2 {
   flex-direction: column;
}

.hot-section {
   width: 100% !important;
   margin-top: 2em;
}

.site-title {
   font-size: 2em !important;
}

.box1 {
   background-size: cover !important;
}

.box1-wrapper {
   margin: auto !important;
}
}

.box3{
   display: flex;
   flex-direction: column;
   background-image: url(/*smth.jpg*/);
   background-size: 100% 100%;
}

.hottest-threads {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
}

.site-title {
   font-size: 15px; 
   text-shadow: 2px 2px 5px black;
}

.lara {
   color: #f9363f;
}

.board {
  color: #ffa9ae;
}

.global-navbar__intro {
  color: #b34c4c;
  font-weight: bold;
  
  text-align: center;
  
  width: max-content;
  height: max-content;
}

.boards {
  font-weight: bold;
  text-shadow: 2px 2px black;
  margin: 0 auto;
  width: max-content;
  color: white;
}

.index-thread-ul {
  width: max-content;
  height: 15em;
  margin: 0 auto 0 auto;
  padding: 0.7em 6em 1em 6em;
  background-color: #01020e;
  overflow-y: scroll;
  color: white;  
/*  column-gap: 10em;
  column-count: 2;
  column-rule-style: solid; */
}

li {
  margin: 0 auto;
  width: max-content;
}

.box1 {
  display:flex;
  flex-direction: column;
}

.box1-wrapper {
  margin: 0 auto 0 auto;
}

.board-separator {
  width: 30vw;
  border-color: #86869d;
  margin-top: 2em;
  margin-bottom: 2em;
}

.hot-section {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 0;
  height: inherit;
}

.featured-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: solid 2px white;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  background-color: white;
}

.featured-image-section {
  width: 50%;
  padding: auto;
  height: inherit;
}

.featured-image-text {
  width: max-content;
  margin: 10% auto 1em auto;
  font-weight: bold;
  color: white;
}

.box2-wrapper {
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
}

.news-table {
  border: 1px solid #c02b2b;
  border-collapse: collapse;
}

.index-news-section {
  flex-grow: 1;
}

.index-news-section__wrapper {
  margin: 10% auto 0 auto;
  width: max-content;
}

.index-news-section__intro {
  width: max-content;
  margin: 0 auto 0.5em auto;
  font-weight: bold;
  color: white;
}

/* .deadclass {
  border: solid 1px;
} */

.news-title {
  background-color: rgb(240, 20, 20);
  color: white;
  font-weight: bold;
  padding: 0 0.5em 0 0.5em
}

.news-date {
  font-weight: bold;
  padding: 0 0.5em 0 0.5em;
  color: grey;
}

.hottest-threads-text {
  width: max-content;
  /* margin: 0 auto; */
  font-weight: bold;
  margin-top: 5em;
}

.hot-threads-table {
  border: solid 1px black;
  background-color: white;
  border-collapse: collapse;
  width: max-content;
  padding: 0 1em 0 1em;
}

.hot-thread-index {
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.box1-wrapper {
  margin: 0 auto;
}

.random-quote {
  margin: 2em 2em 0 auto;
  color: white;
  width: 40%;
}

.mascot {
  position:fixed;
  /* content: url(sum cute gif)  */
}

.index-boardlist {
 list-style-type: none;
 width: max-content;
 margin: 0 auto;
 padding: 0;
}

.index-board-hyperlink {
  width: fit-content;
  color: white;
  background-color: #01020e;
  display: inline;
  margin-left: 1em;
  padding: 0.2em;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}

.index-board-hyperlink:nth-child(odd) {
  background-color: #f01414;
  color: white;
}

.index-board-hyperlink:nth-child(1) {
  margin: 0 !important;
}

.box3-item {
  /* background-color: rgb(80, 33, 72); */
  border-radius: 5px;
  height: max-content;
  width: 20em;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.hottest-threads-wrapper {
  margin: 0 auto;
}

.box3-title {
  color: white;
  font-weight: bold;
  width: max-content;
  margin: 0 auto 0.5em auto;
}

.box3-description {
  color: rgb(158, 158, 158);
  font-weight: bold;
  width: max-content;
  margin: 0 auto;
  text-decoration: overline;
  text-decoration-color: white;
  max-width: inherit;
}

.box-wrapper {
  margin: auto;
} 

.index-youtube {
  width: max-content;
  margin: 5em auto;
}

.links-section {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.index-booru__table {
  width: 50vw;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 0;
  margin: 2em auto 0 auto;
}

.index-booru-table__header {
  background-color: rgb(240, 20, 20);  
}

.index-booru-table__body {
  background-color: #01020e;
  height: 10em;

  display: flex;
  flex-direction: row;  
}

.index-booru-table__img {
  margin: auto;
}

/* .useful-pages{

} */

.global-navbar {
  border-collapse: collapse;
}

.global-navbar__td {
/*  border: 1px solid grey; */
  height: fit-content;
  padding: 0;
}

.global-navbar__sitename {
  width: 20%;
}

.index-boards {
  width: fit-content;
  margin: 1em auto 1em auto;
  color: white; 
}

.index-thread-intro {
  width: 100%;
  margin: 0 auto;
  color: white;
  background-color: #f01414;
  font-weight: bold;
  text-align: center;
}

.global-user-ops {
  height: 100%;
  font-weight: bold;
  border-width: 0 1px 0 1px; 
  color: white;
  padding: 0.3em;
}

.global-user-ops__wrapper {
  width: fit-content;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.global-banner {
  margin: 2em auto 0 auto;
}

.the-footer {
  color: white;
  margin-top: auto; 
  text-align: center;
  font-size: 13px;
  padding: 20px 0px 20px 0px;
  border-style: solid none none none;
  border-width: 1px;
  border-color: grey;
  background-color: #2b2431;
}

.retro-footer-link {
  background-color:rgb(4, 201, 207);
  border-radius: 5px;
  text-decoration-line: none;
  color: white;
  padding: 0.2em;
  font-weight: bold;
}

.retro-footer-link:hover {
 color: #2b2431;
}

.noscript-footer {
  margin: 1em 0 0 0;
}

.hot-threads-wrapper {
  width: fit-content;
  margin: 0 auto;
  border: 1px solid white;
}